{% load staticfiles %}

<head>
	<title>Check A Registration</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Passion+One" rel="stylesheet">
</head>
<body>
	<div class="jumbotron jumbotron-fluid" style="background-color: #e3f2fd; font-family: 'Coda Caption', sans-serif;">
       <h1 class="col-xl text-center"><a href="/" style="text-align: center; text-decoration: none;">VEHICLE DETAIL CHECK</a></h1>
    </div>
    <div class="content container"  >
        <div class="row">
            <div class="col-xl text-center">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>