
{% extends 'checkareg/base.html' %}

{% block content %}
	<div class="card">
	   <div class="card-body">
	         <h2 class="navbar" style="font-family: 'Coda Caption', sans-serif;">Vehicle Image Upload</h2>
	     </div>	
	     <div class="col-xl">   
	         <form method="post" enctype="multipart/form-data">
	           {% csrf_token %}

	           <div class="form-group" style="display: block; padding-left: 25%; padding-right: 25%">
	               <label for="exampleFormControlFile1">Please Upload A Photo To Submit</label>          
	               <input type="file" class="form-control"  name="imagefile" id="imagefile" aria-describedby="imageHelp" placeholder="Select file">
	            </div>

	           <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 20px;">Upload</button>
	       </form>
	   </div>
	</div>
{% endblock %}